// app global css in SCSS form
// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap");
body {
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

svg {
  display: block;
  width: 100%;
}

.heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 135px;
  line-height: 158px;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.smaller__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.sm_container {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.top_img {
  height: 242px;
  width: 509px;

  border-radius: 0px;
}

.long_img {
  height: 279px;
  width: 201px;
  border-radius: 0px;
}

.small_img {
  height: 138px;
  width: 294px;

  border-radius: 0px;
}

.smaller_img {
  height: 151px;
  width: 148px;
  border-radius: 0px;
}
.nav__links .q-tab__indicator {
  width: 76px;
  margin: 0 auto;
  height: 5px;
}

.quality .q-btn:before,
.business_ents .q-btn:before {
  box-shadow: none;
}

.slider {
  padding: 0;
}

.q-carousel__navigation .q-btn {
  margin: 16px 4px;
  padding: 5px;
  position: relative;
  z-index: 1000;
  font-size: 8px !important;
}
.q-carousel__navigation {
  bottom: 25%;
  left: -70%;
}
.q-carousel__navigation-icon--active {
  background-color: white;
}

.connect .q-tab__indicator {
  display: none;
}

.nav__links .q-btn:before,
.side_bar .q-btn:before {
  box-shadow: none;
}
.wheat .splide__pagination {
  bottom: -1.5em;
}

.wheat .splide__pagination__page.is-active {
  background: #005be3 !important;
  z-index: 1;
}
.wheat .splide {
  padding: 0 !important;
}

@media (max-width: 1000px) {
  .flexer {
    flex-direction: column-reverse;
  }
  .add_wrap_big {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 800px) {
  .flexer {
    flex-direction: column-reverse;
  }
  .add_wrap {
    flex-wrap: wrap !important;
  }

  .q-carousel__navigation {
    bottom: 25%;
    left: -10%;
  }
  .no_pad {
    padding: 0 !important;
  }
  .no_marg {
    margin: 0 !important;
  }
}
@media (max-width: 500px) {
  .q-carousel__navigation {
    bottom: 15%;
    left: -27%;
  }
  .slider {
    height: 40vh !important;
  }
}
